#a1
{
position: relative;
left:25px;
width: 11%;
height: 35px;
background: white;
border-style:solid;
border-color: #ff9900;
}
#a2
{
position: relative;
left:25px;
padding-left: 35px;
width: 55%;
height: 300px;
background: white;
border-style:solid;
border-color: #ff9900;
}
.head{
font-size:25px;
}
#q
{
width: 85%;
height: 65px;
border-color:green;
}
#ans
{
width: 85%;
height: 65px;
border-color:blue ;
}
#a3
{   position:absolute;
width: 41%;
height: 85px;
background: white;
border-style:solid;
border-color: #ff9900;
}
